
Lab2/convolution/.apc/autopilot.apfmapping
Lab2/convolution/.project
Lab2/convolution/.vivado_hls_log_all.xml
Lab2/convolution/solution1/.autopilot/.autopilot_exit
Lab2/convolution/solution1/.autopilot/db/autopilot.flow.log
Lab2/convolution/solution1/script.tcl
Lab2/convolution/solution1/solution1.log
Lab2/convolution/solution4/.autopilot/.automg_exit
Lab2/convolution/solution4/.autopilot/.autopilot_exit
Lab2/convolution/solution4/.autopilot/db/.message_syn.xml
Lab2/convolution/solution4/.autopilot/db/__ctype_info__.xml
Lab2/convolution/solution4/.autopilot/db/a.g.0.bc
Lab2/convolution/solution4/.autopilot/db/a.g.1.bc
Lab2/convolution/solution4/.autopilot/db/a.g.2.bc
Lab2/convolution/solution4/.autopilot/db/a.g.2.prechk.bc
Lab2/convolution/solution4/.autopilot/db/a.g.bc
Lab2/convolution/solution4/.autopilot/db/a.o.1.bc
Lab2/convolution/solution4/.autopilot/db/a.o.1.tmp.bc
Lab2/convolution/solution4/.autopilot/db/a.o.2.bc
Lab2/convolution/solution4/.autopilot/db/a.o.3.bc
Lab2/convolution/solution4/.autopilot/db/a.pp.0.bc
Lab2/convolution/solution4/.autopilot/db/a.pp.bc
Lab2/convolution/solution4/.autopilot/db/all.directive.json
Lab2/convolution/solution4/.autopilot/db/autopilot.flow.log
Lab2/convolution/solution4/.autopilot/db/autopilot.rtl.models.txt
Lab2/convolution/solution4/.autopilot/db/bugpoint.sh
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.adb
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.adb.annotation.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.adb.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.bind.adb
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.bind.adb.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.compgen.tcl
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.constraint.tcl
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.design.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.rtl_wrap.cfg.tcl
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.sched.adb
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.sched.adb.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.sdaccel.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.tbgen.tcl
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.verbose.bind.rpt
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.verbose.bind.rpt.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.verbose.rpt
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.verbose.rpt.xml
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.verbose.sched.rpt
Lab2/convolution/solution4/.autopilot/db/convolve_kernel.verbose.sched.rpt.xml
Lab2/convolution/solution4/.autopilot/db/driver/data/convolve_kernel.mdd
Lab2/convolution/solution4/.autopilot/db/driver/data/convolve_kernel.tcl
Lab2/convolution/solution4/.autopilot/db/driver/src/Makefile
Lab2/convolution/solution4/.autopilot/db/driver/src/xconvolve_kernel.c
Lab2/convolution/solution4/.autopilot/db/driver/src/xconvolve_kernel.h
Lab2/convolution/solution4/.autopilot/db/driver/src/xconvolve_kernel_hw.h
Lab2/convolution/solution4/.autopilot/db/driver/src/xconvolve_kernel_linux.c
Lab2/convolution/solution4/.autopilot/db/driver/src/xconvolve_kernel_sinit.c
Lab2/convolution/solution4/.autopilot/db/global.setting.tcl
Lab2/convolution/solution4/.autopilot/db/hls_design_meta.cpp
Lab2/convolution/solution4/.autopilot/db/hls_design_meta.h
Lab2/convolution/solution4/.autopilot/db/hls_design_meta.tcl
Lab2/convolution/solution4/.autopilot/db/kernel.bc
Lab2/convolution/solution4/.autopilot/db/kernel.g.bc
Lab2/convolution/solution4/.autopilot/db/kernel.pp.0.cpp
Lab2/convolution/solution4/.autopilot/db/kernel.pragma.0.cpp
Lab2/convolution/solution4/.autopilot/db/kernel.pragma.1.cpp
Lab2/convolution/solution4/.autopilot/db/kernel.pragma.2.cpp
Lab2/convolution/solution4/.autopilot/db/useless.bc
Lab2/convolution/solution4/csim/.lst_opt.tcl
Lab2/convolution/solution4/csim/build/csim.exe
Lab2/convolution/solution4/csim/build/csim.mk
Lab2/convolution/solution4/csim/build/Makefile.rules
Lab2/convolution/solution4/csim/build/obj/.dir
Lab2/convolution/solution4/csim/build/obj/convolve.d
Lab2/convolution/solution4/csim/build/obj/convolve.o
Lab2/convolution/solution4/csim/build/obj/data.d
Lab2/convolution/solution4/csim/build/obj/data.o
Lab2/convolution/solution4/csim/build/obj/kernel.d
Lab2/convolution/solution4/csim/build/obj/kernel.o
Lab2/convolution/solution4/csim/build/obj/main.d
Lab2/convolution/solution4/csim/build/obj/main.o
Lab2/convolution/solution4/csim/build/obj/sdk.d
Lab2/convolution/solution4/csim/build/obj/sdk.o
Lab2/convolution/solution4/csim/build/run_sim.tcl
Lab2/convolution/solution4/csim/build/sim.bat
Lab2/convolution/solution4/csim/report/convolve_kernel_csim.log
Lab2/convolution/solution4/directives.tcl
Lab2/convolution/solution4/impl/misc/convolve_kernel_ap_fadd_3_full_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/misc/convolve_kernel_ap_fadd_8_full_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/misc/convolve_kernel_ap_fmul_2_max_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/misc/convolve_kernel_ap_fmul_4_max_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/data/convolve_kernel.mdd
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/data/convolve_kernel.tcl
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/src/Makefile
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/src/xconvolve_kernel.c
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/src/xconvolve_kernel.h
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/src/xconvolve_kernel_hw.h
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/src/xconvolve_kernel_linux.c
Lab2/convolution/solution4/impl/misc/drivers/convolve_kernel_v1_0/src/xconvolve_kernel_sinit.c
Lab2/convolution/solution4/impl/verilog/convolve_kernel.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_ap_fadd_3_full_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/verilog/convolve_kernel_ap_fadd_8_full_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/verilog/convolve_kernel_ap_fmul_2_max_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/verilog/convolve_kernel_ap_fmul_4_max_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/verilog/convolve_kernel_control_s_axi.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_fbkb.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_fcud.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_mdEe.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_meOg.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_mfYi.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_mg8j.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_mhbi.v
Lab2/convolution/solution4/impl/verilog/convolve_kernel_mibs.v
Lab2/convolution/solution4/impl/vhdl/convolve_kernel.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_ap_fadd_3_full_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_ap_fadd_8_full_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_ap_fmul_2_max_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_ap_fmul_4_max_dsp_32_ip.tcl
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_control_s_axi.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_fbkb.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_fcud.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_mdEe.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_meOg.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_mfYi.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_mg8j.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_mhbi.vhd
Lab2/convolution/solution4/impl/vhdl/convolve_kernel_mibs.vhd
Lab2/convolution/solution4/script.tcl
Lab2/convolution/solution4/sdx.tcl
Lab2/convolution/solution4/solution4.aps
Lab2/convolution/solution4/solution4.directive
Lab2/convolution/solution4/solution4.log
Lab2/convolution/solution4/solution4_data.json
Lab2/convolution/solution4/syn/report/convolve_kernel_csynth.rpt
Lab2/convolution/solution4/syn/report/convolve_kernel_csynth.xml
Lab2/convolution/solution4/syn/report/csynth.xml
Lab2/convolution/solution4/syn/systemc/AESL_comp.h
Lab2/convolution/solution4/syn/systemc/AESL_pkg.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_1.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_10.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_11.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_12.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_2.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_3.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_4.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_5.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_6.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_7.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_8.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_9.cpp
Lab2/convolution/solution4/syn/systemc/convolve_kernel_fbkb.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_fcud.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_mdEe.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_meOg.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_mfYi.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_mg8j.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_mhbi.h
Lab2/convolution/solution4/syn/systemc/convolve_kernel_mibs.h
Lab2/convolution/solution4/syn/verilog/convolve_kernel.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_ap_fadd_3_full_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/verilog/convolve_kernel_ap_fadd_8_full_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/verilog/convolve_kernel_ap_fmul_2_max_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/verilog/convolve_kernel_ap_fmul_4_max_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/verilog/convolve_kernel_control_s_axi.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_fbkb.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_fcud.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_mdEe.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_meOg.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_mfYi.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_mg8j.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_mhbi.v
Lab2/convolution/solution4/syn/verilog/convolve_kernel_mibs.v
Lab2/convolution/solution4/syn/vhdl/convolve_kernel.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_ap_fadd_3_full_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_ap_fadd_8_full_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_ap_fmul_2_max_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_ap_fmul_4_max_dsp_32_ip.tcl
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_control_s_axi.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_fbkb.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_fcud.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_mdEe.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_meOg.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_mfYi.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_mg8j.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_mhbi.vhd
Lab2/convolution/solution4/syn/vhdl/convolve_kernel_mibs.vhd
Lab2/convolution/vivado_hls.app
Lab2/hs_err_pid18360.dmp
Lab2/hs_err_pid18360.log
Lab2/kernel.cpp
Lab2/kernel.h
Lab2/Outputs.txt
Lab2/tempkernel.h
Lab2/test.tcl
Lab2/vivado_hls.log
